.app-header {
  margin-top: 20px;
  border-bottom: 1px solid gray;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-header-logo {
  width: 60px;
  height: 60px;
}