.image-post {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-post-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(0, 0, 0, 0.700);
}
.image-post-content {
  position: relative;
  max-width: 1200px;
  background-color: black;
}
.image-post-content img {
  display: block;
  max-width: 100%;
  max-height: calc(100vh-120px);
  margin-left: auto;
  margin-right: auto;
}
.image-post-content h4{
  color: white;
  text-align: center;
}